<div class="register-page">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    novalidate
    class="d-flex-center"
  >
    <div class="register-container">
      <h2 class="text-center">Join PK Land</h2>
      <div>
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username" />
          <mat-error
            *ngIf="
              !registerForm.get('username')?.errors?.required &&
              registerForm.get('username')?.errors?.pattern
            "
          >
            Please enter a valid username
          </mat-error>
          <mat-error
            *ngIf="
              registerForm.get('username')?.invalid &&
              (registerForm.get('username')?.dirty ||
                registerForm.get('username')?.touched) &&
              registerForm.get('username')?.errors?.required
            "
          >
            Username is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt-top-2">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" />
          <mat-error
            *ngIf="
              !registerForm.get('email')?.errors?.required &&
              registerForm.get('email')?.errors?.pattern
            "
          >
            Please enter a valid email address
          </mat-error>
          <mat-error
            *ngIf="
              registerForm.get('email')?.invalid &&
              (registerForm.get('email')?.dirty ||
                registerForm.get('email')?.touched) &&
              registerForm.get('email')?.errors?.required
            "
          >
            Email is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt-top-2">
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
          />
          <mat-error *ngIf="!registerForm.get('password')?.errors?.required">
            Password length must be greater than or equal to 8 and password must
            contain one or more uppercase , lowercase , numeric and special
            characters
          </mat-error>
          <mat-error
            *ngIf="
              registerForm.get('password')?.invalid &&
              (registerForm.get('password')?.dirty ||
                registerForm.get('password')?.touched) &&
              registerForm.get('password')?.errors?.required
            "
          >
            Password is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt-top-2">
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Confirm Password"
            formControlName="confirm_password"
          />
          <mat-error *ngIf="!registerForm.get('confirm_password')?.errors?.required">
            Confirm password must same with password
          </mat-error>
          <mat-error
            *ngIf="
              registerForm.get('confirm_password')?.invalid &&
              (registerForm.get('confirm_password')?.dirty ||
                registerForm.get('confirm_password')?.touched) &&
              registerForm.get('confirm_password')?.errors?.required
            "
          >
            Password is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt-top">
        <button (click)="redirectToLogin()" mat-button type="button">Login</button>
        <button [disabled]="!registerForm.valid" mat-button type="submit">Register</button>
      </div>
    </div>
  </form>
</div>
